h1 {text-align: left;}
body {
  padding: 0;
  margin-left: 200px;
  margin-right: 200px;
  background-color: linen;
}
button {
  background-color: grey;
  color: white;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
  
  border-radius: 4px;

  }

  canvas{
    background-color: red;
    border: 5px solid black;
  }
